
body{
background-color:pink;}

h1{
color:blue;
text-align:center;}

h2{
color:blue;
text-align:center;}

img{
image-align:center;}

ul{
list-style-type:none;
margin:0;
padding:0;
width:200px;
background-color:orange;
font-weight:bold;}

li a{
display:block}
